---
import { getPublishedPosts } from "../lib/posts";

const posts = await getPublishedPosts();
---

<h1>My Blog</h1>

<ul>
  {posts.map(post => (
    <li>
      <a href={`/blog/${post.slug}`}>
        {post.title}
      </a>
    </li>
  ))}
</ul>
